@model IEnumerable<MediESTeca.Models.Livro>

@{
    ViewData["Title"] = "Destaque";
}

<h3>Destaques</h3>

@if (Model.Count() == 0)
{
    <b>Não existem livros em destaque</b>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Editora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnoEdicao)
                </th>
                <th></th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Editora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnoEdicao)
                    </td>
                </tr>
            }
        </tbody>
        }
    </table>
}
